@import 'bootstrap/dist/css/bootstrap.min.css';


body {
  background-color: #000;  // black
  color: #fff;             // make text white so it’s readable
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
